$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #00005b;
$primaryDark: #384359;
$primaryLight: #00005b;
$borderColor: #ccc;
$bodyColor: #2e3a53;
$boxShadowColor: rgba(0, 0, 0, 0.25);
$imageHeaderColor: #008CBA;
$starColor: #f5a623;